


<p>Notre agence<strong> TetraDigital</strong>, fond&eacute;e en&nbsp; 2005 par les fr&egrave;res Pontaux, <strong>passionn&eacute;s par le web et les nouvelles techonologies</strong>, se situant au coeur de Bordeaux, compte, &agrave; pr&eacute;sent, 4 d&eacute;velopppeurs, sachant ma&icirc;triser les technologies de <strong>back et de front-end</strong>:</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; V&eacute;ronique DISCAMPS;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fr&eacute;d&eacute;ric DUPOUY;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Dimitiri MC-LUCKIE;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; K&eacute;vin Mormin.</p>
<p>&nbsp;</p>
<p><strong>Vous satisfaire est au coeur de nos priorit&eacute;s !!!</strong> Aussi, ne perdez pas une seconde et <strong>contactez-nous</strong> pour faire de vos envies une r&eacute;alit&eacute; !</p>
