{% extends 'layout.html.twig' %}


{% block stylesheet %}

<link rel="stylesheet" href="/assets/css/storytelling.css">


{% endblock %}

{% block content %}

<div class="container-fluid toto">
    <h2>L'entreprise</h2>

    <div class="grayscale colonne">
<div>
<div class="colonne">
    <img src="/assets/images/AgencewebGeneve10.jpg" class="img-responsive" alt="picture" >

  </div>
  <div class="fontStory">
    {% include 'tetraDigital/story.html.twig' %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img src="assets/images/vero.JPG" />
        <div class="mask">
          <h2>Véronique Discamps</h2>
          <p>Développeur</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img  class="dimitri" src="assets/images/dimM.JPG" />
        <div class="mask">
          <h2>Dimitri MAC-LUCKIE</h2>
          <p>Développeur</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img class="fred" src="assets/images/fredd.JPG" />
        <div class="mask">
          <h2>Frédéric DUPOUY</h2>
          <p>Développeur</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <div class="view view-seventh">
        <img class="kevin" src="assets/images/kevM.JPG" />
        <div class="mask">
          <h2>Kévin MORMIN</h2>
          <p>Développeur</p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
