body {
    background-color: #FFFFFF;
}

.img-thumbnail {
    margin: 0 auto;
    display: block;
    height: 450px;
}

.container-fluid
{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

p
{
  overflow: auto;
  text-align: center;
  padding:5%;
  margin:2%;
  width: 95%;
  height: 200px;
}

h3
{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.img-thumbnail{  margin: auto;
  display: block;
}
