body{
  background-color: #CECECE;
}
.sdkugfh {
  color: #CECECE; /* gris*/
  color: #97DFC6; /* turquoise*/
  color: #048B9A; /* bleu*/
}
#contact{

    font-family: 'KIONA', sans-serif;
  padding-top: 60px;
}
/* position bar de nav */

.cd-header {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-bottom: 70px;
  margin-bottom: -20px;
  z-index: 2;
  background: #048B9A;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}


html {
  font-family: 'Lora', sans-serif;

  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #048B9A , #97DFC6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #048B9A , #97DFC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}
@media screen and (max-width: 600px) {

  .contact-section .col-md-6{
    width: 90%;
  }

}
@media screen and (max-width: 600px) {

  .container{
    margin-top: -90px;
  }
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;

}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

h1{

  font-size: 2rem;
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 15px;

}


@media screen and (max-width: 600px) {
  h1{

    font-size: 0.9rem;
    color: white;
    text-align: center;
  padding-top: 15px;
  margin-left: 45px;
  }
}
